## https://raw.githubusercontent.com/github/gitignore/master/Global/Kate.gitignore
# Swap Files #
.*.kate-swp
.swp.*

## https://raw.githubusercontent.com/github/gitignore/master/Global/KDevelop4.gitignore
*.kdev4
.kdev4/

## https://raw.githubusercontent.com/github/gitignore/master/Global/Linux.gitignore
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

## https://raw.githubusercontent.com/github/gitignore/master/Global/Vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

## https://raw.githubusercontent.com/github/gitignore/master/C%2B%2B.gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## https://raw.githubusercontent.com/github/gitignore/master/C.gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

## https://raw.githubusercontent.com/github/gitignore/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

## https://raw.githubusercontent.com/github/gitignore/master/Qt.gitignore
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

## Custom
build*/
